<div id="<%= dom_id friend %>">
  <td>
    <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>

</div>
